* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: black;
  color: white;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.signup_box {
  gap: 12px;
}
form {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
input {
  padding: 12px 12px;
  border: none;
  background-color: black;
  color: white;
  border-bottom: 1px solid white;
  margin: 12px 0px;
  gap: 12px;
}
input:hover {
  border: none;
  border-bottom: 1px solid white;
}
button {
  padding: 12px;
  margin: 12px 0px;
  width: 100px;
}
.box {
  display: flex;
}
.error {
  color: red;
}
.success {
  color: green;
}
